# ========================
# Android & IntelliJ Files
# ========================

# Project files
*.iml
.gradle/
build/
**/build/

# Local settings
local.properties

# IDE
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# NDK/CMake
.externalNativeBuild/
.cxx/

# OS & Tooling
.DS_Store
captures/
